:root{
    --background-colorMain:rgb(234,235,236);
    --background-colorHeader:rgb(216, 216, 216);
    --textNbutton:rgb(74,74,74,255);
    
}
body{
    margin:0;
}



/* navigtion */


nav{
    
    
    height: 4em;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
}


.companyTitle{
    height:2em;
    align-self: center;
    display: flex;
    flex-direction:row;
    
}
    nav img{
        height:2em;
    }
    .logo{
        
        align-self: center;
        text-transform: uppercase;
    }
    .colmar{
        color: var(--background-colorHeader);
    }
    .academy{
        color:var(--background-colorMain);
    }

    .navLinks{
        display: flex;
    flex-direction:row;
    justify-content: end;
   
    gap: 1em;
    align-self:center;
    }

    
    

/* header content*/
header{
    background-color: rgb(216,216,216);
    display:flex;
    justify-content: center;
}


.banner{
    width: 80%;
    background-color:blue;
    margin: 24px 32px;
    

}
.bannerInfo{
   
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    align-items: space-around;
    color:var(--textNbutton);
    
}
.button{
    background-color:var(--textNbutton);
    color:white;
    padding: 8px ;
    text-align: center;
   
}
/* next section*/

.schoolInfo{
  
 display:grid;
grid-template-rows: repeat(3 , 1fr);
grid-template-columns: 65% 40%;
row-gap: 5px;
column-gap: 3px;;
}
.focusPhoto{
    width:100%;
}
.infoItem{
    display:flex;
}
.schoolInfo-1{
    grid-row:1 / span 3;
    padding:24px;
    border-right: solid ;
    display:flex;
    flex-direction:column;
    border-right: solid var(--background-colorMain);
    
    
}
.detailPhoto{
    width:35%;
    height:fit-content;
    padding:1em;
    
    
}
.importantInfo{
    
  
  border-bottom: solid var( --background-colorMain);

}



.schoolInfo-4 {
    background-color: var(--background-colorHeader);
}



.practiceQuote{
    margin-bottom:24px;
}
.infoItem h5{
display:flex;
align-self: end;
}

/* start learning section*/

.startLearning{
    text-align: center;
    
}
.learn{
    background-color: var(--background-colorMain);
    padding: 32px;
   
}
.options{
   
    display:grid;
    
    grid-template:repeat(2, 2fr) / repeat(3, 1fr);
    
    gap: 32px 32px;
    margin:32px 72px ;
    
  
}
.summary{
    
    margin-left: 16px;
    padding: 1em;
    
}

.item{
    background-color: #fff;
    display:block;
    border-color:blue;

    
}

.item img{
    height:auto;
    width: 100%;
    margin-bottom:16px;
}
.item p{
    margin-bottom: 24px;
}

/* thesis exhibit*/

.mediaInfo{
    background-color: white;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows:  .5fr repeat(3, 1fr );
    grid-gap: 24px;
    margin: .5em auto;
    

}


.thesis{
    grid-area: 1 /  1 /  span 1 /span 2;
    align-self: center;
    justify-self: center;
    
}
.a{
    grid-area: 2 / 1 / span 3 / 1;
    flex-direction: column;
    
}

video{
    width:100%;
    height:2fr;
   
}
.b{
    grid-area: 2 / 2 / span 1/ span 1;
    background-color: var(--background-colorMain);
}

.c{
    grid-area: 3 / 2 / span 1/ span 1;
   

}


.box{
    display:flex;
    flex-direction: row;
    
    
    }

.box img{
width: 35%;

margin: 16px;



}
/* footer information */
footer{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    border-top: solid var(--background-colorMain);
  
}

 
/* footer info*/
.footerInfo{
    padding: 1em 1.5em;
}

.safety{
    display:flex;
    justify-self: end;
}

@media (max-width: 799px) {
    /*applied if browser window width is less than or equal to 600px*/
   /* navigation */
    nav{
       grid-template-columns: 1fr;
       
    
       
       
   }
  
   a.text{
        display: none;
    }
    span.text{
        display:none;

    }

    .navLinks{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    /* header info */

    header{
        flex-direction:column;
        margin:0;
    }

    .banner{
        width:100%;
        margin:0;
    }
    .bannerInfo{
        margin:0;
        padding: 2em 1em;
    }
    .button{
        background-color: 	rgb(155, 155, 155);
        margin-top: 1.5em;
        margin-bottom:2em;
    }

    /* campus info*/
    .school-info{
        margin:1em;
        

        
    }
    .schoolInfo-1{
        display:none;

    }
    .detailPhoto{
        display:none;
    }
   
    .schoolInfo{
        grid-template-columns: 1fr;
        
    }
    .infoItem{
        flex-direction: column;
    }
   

    .schoolInfo-4{
        background-color: white;
    }

    /* start learning details */
    .options{ 
        grid-template-rows:repeat(6, 1fr);
        grid-template-columns:  1fr;
    }
    .remove{
        display:none;
    }
    .item-1{
        grid-area: 1 / 1 / span 1 /span 1;
    }
    .item-2{
        grid-area: 2 / 1 / span 1 /span 1;
    }
    .item-3{
        grid-area: 3 / 1 / span 1 /span 1;
    }
    .item-4{
        grid-area: 4 / 1 / span 1 /span 1;
    }
    .item-5{
        grid-area: 5 / 1 / span 1 /span 1;
    }
    .item-6{
        grid-area: 6 / 1 / span 1 /span 1;
    }  
/* thesis component*/
.a{
    justify-self: center;
}
.mediaInfo{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr repeat(2, 1fr);
}

/* footer*/
.footerInfo{
    grid-template-columns: 1fr;
    
}



}

@media (min-width: 801px) {
    /*applied if browser window width is greater than 600px*/
    a.icon {
        display: none;
        
    }
    .mobile{
        display:none;
    }
}

/* video component of thesis*/
.videoInfo ,.b, .c{
    display:none;
}
/*footeer content*/
.safety{
    display: none;
}




