:root{
    --background-colorMain:rgb(234,235,236);
    --background-colorHeader:rgb(216, 216, 216);
    --textNbutton:rgb(74,74,74,255);
    
}
body{
    color:var(--textNbutton);
}

nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.navList{
    display:flex;
 justify-content:end;
}
header{
    background-color:var( --background-colorHeader);
    display:flex;
    justify-content: center;
}
.banner{
    width: 80%;
    background-color:blue;
    margin: 24px 32px;
    

}
.bannerInfo{
   
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    align-items: space-around;
    color:var(--textNbutton);
    
}
.button{
    background-color:var(--textNbutton);
    color:white;
    padding: 8px ;
    text-align: center;
   
}

.schoolInfo{
  
 display:grid;
grid-template-rows: repeat(3 , 1fr);
grid-template-columns: 65% 40%;
row-gap: 5px;
column-gap: 3px;;
}
.focusPhoto{
    width:100%;
}
.infoItem{
    display:flex;
}
.schoolInfo-1{
    grid-row:1 / span 3;
    padding:24px;
    border-right: solid ;
    display:flex;
    flex-direction:column;
    border-right: solid var(--background-colorMain);
    
    
}
.detailPhoto{
    width:35%;
    height:fit-content;
    padding:1em;
    
    
}
.importantInfo{
    
  margin-right:13%;
  border-bottom: solid var( --background-colorMain);

}
.importantInfo a{
    color:blue;
}


.schoolInfo-4 {
    background-color: var(--background-colorHeader);
}



.practiceQuote{
    margin-bottom:24px;
}
.infoItem h5{
display:flex;
align-self: end;
}

/* start learning section*/

.startLearning{
    text-align: center;
    
}
.learn{
    background-color: var(--background-colorMain);
    padding: 32px;
   
}
.options{
   
    display:grid;
    
    grid-template:repeat(2, 2fr) / repeat(3, 1fr);
    
    gap: 32px 32px;
    margin:32px 72px ;
    
  
}
.summary{
    margin-left: 16px;
}

.item{
    background-color: #fff;
    display:block;
    border-color:blue;

    
}

.item img{
    height:auto;
    width: 100%;
    margin-bottom:16px;
}
.item p{
    margin-bottom: 24px;
}

/* thesis exhibit*/

.mediaInfo{
    background-color: white;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr repeat(3, 1fr );
    grid-gap: 24px;
    margin: 8px auto;
    

}




.thesis{
    grid-area: 1 /  1 /  span 1 /span 2;
    align-self: center;
    justify-self: center;
}
.a{
    grid-area: 2 / 1 / span 2 / 1;
    flex-direction: column;
    
}

video{
    width:100%;
   
}
.b{
}

.c{
   grid-area: 2 / 2 / span 1/ span 1;
   background-color: var(--background-colorMain);
   

}
.d{
    grid-area: 3 / 2 / span 1/ span 1;

}
source{
    width:60%;
}
.box{
    display:flex;
    flex-direction: row;
    
    
    }

.box img{
width: 35%;
margin: 16px;


}
/* footer information */
footer{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    border-top: solid var(--background-colorMain);
  
}
.copy{
    grid-area: 
}

.safety{
    display:flex;
    justify-self: end;
  

  
    
   
}
 
